@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .navbar-inverse .navbar-nav>li>a {
      color: #9d9d9d;
      font-size: 26px;
  }

.navbar-brand {
    font-size: 25px;
}

body {
  color: #e4e4e4;
  background-color: #101010;
}

.jumbotron {
  background-image: url('././images/Keyboard.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron h1 {
  font-size: 80px;
}

.img-responsive {
  border: solid;
  border-color: #e4e4e4;
}
