html, body {
  height: 100%;
  color: #fff;
  background-color: #000;
}

.tab {
  border: 1px solid red;
  color: #fff;
  font-size: 20px;
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: blue;
  height: 25%;
  width: 100%;
}

.tab-left{
  clear: right;
}

.tab-right {
  float: right;
}

.name-plate {
    height: 25%;
    width: 100%;

}

.tab-content {
  height: 75%;
  background-color: blue;
}
