html, body {
  height: 100%;
  color: #eee;
  background-color: #eee;
}




#tab1, #tab2 {
  height: 25%;
  width: 100%;
  background-color: black;
  border: 2px solid red;
}

#tab2 {

}

button {
  display: none;
}
