@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/********************************* Universal Formats [Supposedly] *********************************/
* {

}

/********************************* BODY *********************************/

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #191919;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/****************************************************************************/


/********************************* FOOTER *********************************/

.footer {
    padding: 3px 0px; /*Top and Bottom, Left and Right*/
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: rgba(117, 0, 0, 0.75);
    width: 100%;
    color: #cacaca;
    text-align: center;
    font-size: 15px;
    opacity: 0.75;
}

/****************************************************************************/


/*********************************CONTACT BAR*********************************/
.contact_bar{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(117, 0, 0, 0.75);
}

.contact_bar a{
    float: right; /* Float links side by side */
    text-align: center; /* Align text */
    width: 75px; /*Helps set up space between icons*/
    padding: 5px 0; /* Some top and bottom padding */
    transition: 0.3s ease; /* Add transition for hover effects */
    color: #cccccc; /* Icon color */
    font-size: 25px; /* Icon size */
}

  .contact_bar a:hover{
    color: #fff; /* Add a hover color */
}

  .contact_active {
      background-color: #4CAF50; /* Add an active/current color */
  }
/****************************************************************************/

/*********************************Name Bar*********************************/

  .name_bg {
    background-color: rgba(0, 0, 0,0.5); /*Red, Blue, Green, Opacity*/
    background-image: url('././images/iBelieve.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100px;

}

.name {
    margin: 0;
    padding: 0;
    padding: 38px 0 5px 10px;
    text-align: center;
    max-width: 340px;
    min-width: 270px;
    color: rgba(243, 243, 243, 1);
    font-size: 60px;
}
/****************************************************************************/


/****************************** ACCORDION *************************************/
button.accordion {
    background-color: #191919;
    color: #f3f3f3;
    cursor: pointer;
    padding: 15px 75px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
    filter: grayscale(75%);
}

button.accordion.active {
    font-size: 30px;
    padding: 15px 100px;
    filter: none;
}

button.accordion:hover {
    background-color: rgba(117, 0, 0, 1);
    padding-left: 100px;

  }

div.panel {
    padding: 0px 125px;
    background-color: rgb(25, 25, 25);
    color: rgb(243, 243, 243);
    font-size: 20px;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

}

/******************************************************************************/


/******************************CONTACT FORM************************************/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4d0b0b;
    color: #cccccc;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgba(202, 202, 202, 1);
    color: rgb(25, 25, 25);
}



/* Add a background color and some padding around the form */
.container {
    border-radius: 10px;
    background-color: #191919;
    padding: 40px;
}
/******************************************************************************/



/***************************MY EDIT PER BLOCK************************/


#who_is_this_block {
    background-image: url('././images/Keyboard.jpg');
    background-size: cover;
    background-attachment: fixed;


}

#who_is_this_text {
  background-image: url('././images/Keyboard.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  line-height: 35px;
  font-size: 25px;
  color: red;
}


#what_does_she_do {
    background-image: url(././images/Keyboard.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#contact {
    background-image: url(././images/Contact.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
